# don't store atom infrastructure
.atom/packages
.atom/storage
.atom/blob-store

# don't push atom-github auth tokens!
.atom-socket-secret*

# misc ssh tokens
.ssh/google_compute_*

# vim/tmux modules
# don't store vim modules other than vundle?!
.vim/bundle/*

# macOS artifact
.DS_Store