# zsh logging
.zsh_*

# misc ssh tokens
.ssh/google_compute_*

# vim/tmux modules

# don't store non-submodule plugins!
.vim/bundle/*
.tmux/plugins/*

# macOS artifact
.DS_Store

# secrets files
secrets.sh
.env